# -*- coding: utf-8 -*-
# vim: ft=jinja

{## Start with  defaults from defaults.sls ##}
{% import_yaml 'nfs/defaults.yaml' as default_settings %}

{##
Setup variable using grains['os_family'] based logic, only add key:values here
that differ from whats in defaults.yaml
##}
{% set flavor_map = salt['grains.filter_by'](
  {
    'SUSE': {
      'pkgs_server': ['nfs-kernel-server'],
      'pkgs_client': ['nfs-client'],
      'service_server': 'nfsserver',
    },
    'Ubuntu': {
      'pkgs_server': ['nfs-common', 'nfs-kernel-server'],
      'pkgs_client': ['nfs-common'],
      'service_server': 'nfs-kernel-server',
    },
    'Debian': {
      'pkgs_server': ['nfs-common', 'nfs-kernel-server'],
      'pkgs_client': ['nfs-common'],
      'service_server': 'nfs-kernel-server',
    },
    'Raspbian': {
      'pkgs_server': ['nfs-common', 'nfs-kernel-server'],
      'pkgs_client': ['nfs-common'],
      'service_server': 'nfs-kernel-server',
    },
    'FreeBSD': {
      'pkgs_server': False,
      'pkgs_client': False,
      'service_server': 'nfsd',
    },
    'CentOS': {
      'pkgs_server': ['nfs-utils'],
      'pkgs_client': ['nfs-utils'],
      'service_server_dependency': 'rpcbind',
      'service_server': 'nfs',
      'service_client': 'rpcbind'
    }
  },
  grain='os',
  merge=salt['pillar.get']('nfs:lookup')
) %}

{## Merge the flavor_map over the default settings ##}
{% do default_settings.nfs.update(flavor_map) %}

{## Merge in changes from the nfs:lookup pillar ##}
{% set nfs_settings = salt['pillar.get'](
  'nfs',
  default=default_settings.nfs,
  merge=True
) %}
